body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-input{
    display: flex;
    flex-direction: column;
}
.container-input input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 0.80rem;
    border: 2px solid #ECF5FF;
}
.container-input ::placeholder{
    font-size: 18px;
}