<link rel="stylesheet" href="/style/cadastro.css">
<div class="container">
    <div class="container-form">
        <form action="" method="post">
            <div class="container-input">
                <img id="logo" src="/image/logo-2.png" alt="">
                <h1>Abra sua conta Lend Money</h1>
                <p>Complete os campos abaixo para abrir sua conta Lend Money:</p>
                <input type="text" name="nome" autocomplete="off" placeholder="Nome completo*">
                <input type="text" name="cpf" autocomplete="off" placeholder="CPF*">
                <input type="email" name="email" autocomplete="off" placeholder="E-mail*">
                <input type="password" name="senha" autocomplete="off" placeholder="Senha*">  
                <input type="text" name="celular" autocomplete="off" placeholder="Celular*">
                <div class="container-button">
                    <input type="submit" value="Cadastra-se">
                    <button><a href="/">Voltar</a></button>
                </div>
            </div>
            <div>
            </div>
        
        </form>
    </div>
    <img src="/image/mulher-segurando-cartao-de-credito-no-escritorio.jpg" alt="mulher fazendo empréstimo">
</div>