<link rel="stylesheet" href="/style/cadastro.css">
<div class="container">
    <div class="container-form">
        <h1>Lend Money</h1>
        <form action="/cadastroSolic" method="post">
            <div class="container-input">
                <p>Empréstimo rápido e fácil</p>
                <input type="text" name="nome" autocomplete="off" placeholder="Nome completo*">
                <input type="text" name="cpf_solicitador" autocomplete="off" placeholder="CPF*">
                <input type="email" name="email" autocomplete="off" placeholder="E-mail*">
                <input type="password" name="senha" autocomplete="off" placeholder="Senha*">  
                <input type="text" name="celular" autocomplete="off" placeholder="Celular*">
                <div class="container-button">                    
                    <input type="submit" value="Cadastra-se">
                </div>
                <a href="/">Voltar</a>
                {{#if message}}
            <div class="alerts">
                {{message}}
            </div>
        {{/if}}
        {{#if message2}}
            <div class="alerts">
                {{message2}}
            </div>
        {{/if}}
            </div>
            
            </form>
    </div>
        
</div> 
