
<link rel="stylesheet" href="/style/conta.css">
{{#if isAuthenticated}}
<div class="container-main">
    <main>
        <div class="nav-barra">
            <nav class="navbar-container">
            <ul>
               <a href="#"><img src="/image/icons8-usuário-64.png" alt="acesso a dados do usuario"></a>
               <a href="#"><img src="/image/emprestimo.png" alt="pegar emprestimo"></a>
               <a href="#"><img src="/image/confiar.png" alt="financiar emprestimo"></a>
               <a href="/"><img src="/image/sair.png" alt="sair da conta"></a>

            </ul>
        </nav>
        </div>
        <section>
            <h1>Seja Bem-vindo</h1>
            <div class="saldo">
                <p id="valor">mostrar saldo do cliente</p>
            </div>
            <div class="emprestimo">
                <h2>Empréstimo</h2>
                <p>Pegue um empréstimo rápido e fácil em poucos minutos. com taxas de juros fixas.</p>
              <a href=""><img src="/image/icons8-seta-para-baixo-50.png" alt="icone de seta" ></a>
            </div>
            <div class="emprestimo">
                <h2>financiar</h2>
                <p>Empreste dinheiro para uma pessoa na Lend Money e ganhe juros com o empréstimo.</p>
                <a href=""><img src="/image/icons8-seta-para-baixo-50.png" alt="icone de seta"></a>
            </div>
        </section>
    </main>
</div>
{{/if}}