<link rel="stylesheet" href="/style/home.css">
 
<header>
        <div class="container-logo">
        <img src="/image/Logo-2.png" alt="logo da empresa">
        <p id="name">Lend Money</p>
    </div>
    <div class="container-navbar"></div>
     <nav class="navbar">
        <ul>
            <li>Empréstimo</li>
            <li>Solicitar</li>
            <li>Simulação</a></li>
        </ul>
     </nav>
     <div class="container-login">
        <nav class="navbar-login">
            <ul>
            <li id="cadastro"><a href="/cadastro">Cadastre-se</a></li>
            <li id="login"><a href="/login">Login</a></li>
            </ul>
        </nav>
     </div>
</header>
<div class="container-main">
    <main>
        <div class="container-frase">
            <h1>Empréstimo Pessoal</h1>
            <p>Facilidade e agilidade para ter dinheiro na mão com a segurança e a confiança que você merece.</p>
            <p>Empréstimo de pessoa para pessoa P2P.</p>
            <p>Rápido, fácil e sem burocracia.</p>
            <p>Empréstimo 100% online.</p>
            <div id="button-main">
                <button><a href="/cadastro">Abrir conta Lend Money</a></button>
            </div>
        </div>
        <img id="image-main" src="/image/image-main.jpg" alt="pessoas olhando celular">
    </main>
</div>
    <section class="container-solicitar">
        <div class="text-solicitar">
            <h2>Quem pode solicitar</h2>
            <div class="ul-solicitar">
                <ul>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Maiores de 18 anos.</li>
                </div>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Aposentados e pensionistas.</li>
                </div>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Funcionários públicos federais, estaduais e municipais</li>
                </div>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Funcionários registrados em regime CLT</li>
                </div>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Autônomos</li>
                </div>
                <div class="li-solicitar">
                    <img src="/image/icons8-ok-40.png" alt="">
                    <li>Pessoas com bom histórico financeiro</li>
                </div>     
            </ul>
            </div>
        </div>
        <img  id="image-casal" src="/image/2148334755.jpg" alt="imagem de casal">
    </section>
    <section class="container-simulacao">
        <div class="text-simulacao">
            <h2>Empréstimo agora na conta</h2>
            <p>Precisa fazer um empéstimo de dinheiro em pouco tempo? Você pode simular e solicitar o empréstimo am apenas algus passos.</p>
            <p>É fácil, rápido, seguro na Lend Money.</p>
            <a href="/login" id="conta">Acessar Conta</a>
        </div>
        <img id="img-simulacao" src="/image/silo-5-554x456.webp" alt="simulação de empréstimo no celular">
    </section>
