<link rel="stylesheet" href="/style/login.css">

<div class="container-form">
    {{#if message}}
            <div class="alerts">
                {{message}}
            </div>
        {{/if}}
        {{#if message2}}
            <div class="alerts">
                {{message2}}
            </div>
        {{/if}}
    <form action="/loginEmprestador" method="post">
    
        <img src="/image/icons8-usuário-homem-com-círculo.gif" alt="icone de login">
        <h1>Login</h1>
        <div class="container-input">            
            <input type="email" name="email" autocomplete="off" placeholder="E-mail" >
            <input type="password" name="senha" autocomplete="off" placeholder="Senha">
                <div class="container-button">
                    <input id="entrar" type="submit" value="Entrar">
                </div>
                <a href="/cadastro2">Cadastre-se</a>
                <a href="/">Voltar</a>
                
        </div>
    </form>
</div>  